body{
    background-color: rgb(207, 218, 214);
    color: blue;
}
.border{/*
border-style: solid ;
border-width: 1px;
border-color: black;*/
border: 1px solid black;
border-bottom: dotted green;
margin-bottom: 100px;
padding: 50px;
}
.size{
    width: 400px;
    height: 86px;
}
.margin{
  margin:1px 2px 3px 4px;
}
.padding{
padding: 1px 6px 7px 8px;
}
.border2{
    border:1px solid black
}
.miparrafo{
    /*border-top-style:  dotted;
    border-bottom-style: dashed;
    border-left-style: solid;
    border-right-style: double;*/

    border-style: dotted dashed solid double;
}
.mar{
    border-color: rgb(221, 7, 203) rgb(0, 151, 20) blue rgb(245, 0, 0);
}
.paddingpo{
    padding: 50px 20px 30px 10px;
}
.border{
    border-radius: 11px 11px 11px 11px;
    /*border-radius-bottom:11px;
    border-radius-top:11px;
    border-radius-left: 11px;
    border radius-right: 11px;*/
}
    
.radius{
    border-radius: 2rem 2rem 20% 20%;
}
.b{
    background-color: rgb(161, 179, 91);
    width: 300px;
    margin: 20px;
}
.dotten{
    border-style: solid;
    border-top-width:20px ;
    border-color: black;
}
.solid{
    border-style: solid;
    border-left-width:2px;
}
.dashed{
    border-style: dashed;
    border-left-width: 3px;
}
.hidden {
    border-style: hidden;
    border-left-width: 10px;
}

.doubled {
    border-style: double;
    border-left-width: 5px;
}
.groove {
    border-style: groove;
    border-left-width: 3px;
}

.ridge {
    border-style: ridge;
    border-left-width: 15px;
}
.inset{
border-style: inset;
    border-left-width: 15px;
}
.outsed{
border-style: outset;
    border-left-width: 15px
}
.none{
    border-style:none;
    border-left-width:3px;
}
.thin {
    border-style: solid;
    border-left-width: thin;
}
.medium {
    border-style: solid;
    border-left-width: medium;
}
.thick {
    border-style: solid;
    border-left-width: thick;
}
.px {
    border-style: solid;
    border-left-width: px;
}
.porcentage {
    border-style: solid;
    border-left-width: 3%;
}
.c{
    background-color: blueviolet;
    width: 300px;
    margin: 20px;
}
.top {
    border-style: solid;
    border-left-width: 9%;
}

.bottom {
    border-style: solid;
    border-left-width: 9%;
}

.left {
    border-style: solid;
    border-left-width: 9%;
}

.right {
    border-style: solid;
    border-left-width: 3%;
}
.MiTabla{
    background-color: rgb(141, 113, 167);border
}
.miColumna{
    background-color: #b86161; border:double black;
}
t
table.colapso{
    border-collapse:collapse ;
}
table.distanciado{
border-collapse: separate;
}
