.contene_mayor{
     margin: 10px;
padding: 30px;
border: 2px solid;
max-width: max-content;
display: flex;
flex-direction: column;
flex-wrap: wrap;

}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}
.dado{
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}
.bola{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    
}
.dado5{
    display: flex;
    flex-direction: column;
}
.bola5{
    transform: translateX(-100px);
}
.dadoe{
    display: flex;
    width: 130px;
    padding-left: 20px ;
}
.dado6{
    display: flex;
    flex-direction: row;
}
.bola6{
    width: 25px;
    height: 25px;
}
.raya {
    border-left: 1px solid;
    border-right: 1px solid;
}
.table{
    width: 100px;
    height: 100px;
    text-align: center;
}
.o {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.otro{
    width: 40px;
    height: 30px;
    text-align: center;
}
.linea1{
border-left: 2px solid;
border-right: 2px solid;
    width: 20px;
    text-align: center;
}
.linea2{
    border-top: 2px solid;
    border-bottom: 2px solid;
    text-align: center;
}
.triki25{

width:max-content;
display: flex;
flex-direction: column;
align-items: center;

}
.triki1{
    display: flex;
    width: 90px;
    height: 100px;
}

.triki{
    display: flex;
    width:90px;
    height: 100px;

}
.a{
    border-bottom: 2px solid;
    border-top: 2px solid;
  
}
.textoo{
    margin-left: 40px;
   width: 700px;
    display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
}
.texto1{
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid; 
    max-width: max-content;
    display: flex;
    flex-wrap: wrap;

   
}
.con_tri_text{
  padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.texto2{
    overflow: hidden;
    border: 2px solid;

   max-width: max-content;  
     height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    writing-mode: vertical-rl;

}

