body{
    background-color: rgb(235, 230, 225);
}
h1{
    background-color: black;
    padding: 60px;
    color: aliceblue;
}
.contenedor{
    background-color: rgb(253, 253, 253) fixed; 
    border: 3px solid black;
    height: 500px;
    background-position: left;
    display: flex;
    align-items: cent  ;
    justify-content: center;
    
}
.imagen{
    border: 3px solid blck;
    }
.seccion1{
    color:hsla(0, 30%, 70%,0,9); text-align: center;
    background-color: #fff;
    background-image: url(/examen/descarga.jpg) ;border: 2px solid black; height: 200px;
    background-position: center;

}