
.miparrafo{
    font-family: 'Courier New', Courier, monospace;
}

.clas3{
font-family: 'Oswald', sans-serif;
   /* font-family: 'Rubik Iso', cursive;
    font-style:italic;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 18px;
    line-height: 20%;

Reduccuion*/
font: italic small-caps bold 18px/120% "Jsosefin Sans" sans-serif;
letter-spacing: 1px;
word-spacing: 20px;
text-indent: 40px;
direction: rtl;
text-align: center;
text-decoration: underline;
}
.text{
    text-align: center;  
    writing-mode: vertical-rl; 
    text-orientation: upright;
}
.padre{
    display: flex;
        justify-content: center;
        /* Centrar horizontalmente */
        align-items: center;
        /* Centrar verticalmente */
}
.caja {
    border: 2px solid black;
    display: inline-block;
    text-align: center;

}
.parrafo4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    writing-mode: vertical-lr;
    text-decoration: underline;
    text-orientation: upright;
    word-spacing: 20px;
    
}
.texto{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    overflow-y: auto;
    max-width: 10000px;
}
