.caja1 {
    display:flex;
    flex-wrap: wrap;
    padding: 15px;
    background-color: rgb(215, 236, 97);
    width: max-content;
}

.caja2 {
    padding: 5px;
    background-color: white;
    display: inline-block;
    width: auto;

}
.caja3{
    width: 700px;
    height: 380px;
    border-radius: 50px;
    background: url(./fondo_raya.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    border: 2px solid black;
margin-bottom: 10px ;
display: inline-block;
}
.caja10{
    border-radius: 50px;
    border: 2px solid;
    height: 380px;
    background: url(./fondo_chip.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 700px;
}

.caja4{
    display: flex;
        max-width: 900px;
    border-radius: 10px 10px 0px 0px /50%;
  transform: translate(0px, 20px);
width: 100%;
height: 50px;
background-color: black;
border: 1px solid black;
display: inline-block;
max-width: 900px;

}

.caja5{
    background: url(./rayas.png);
    margin: 0.5px;
    height: 50px;
}
.caja7{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fecha{
color: rgb(3, 3, 3);
    transform: scaleX(-1);
        font-family: 'Presione Inicio 2P', cursiva;
        font-family: 'Rubik Iso', cursiva;
}
.caja8{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 4fr;
    color: aliceblue;
    flex-wrap: wrap;
    text-align: center;
}
.texto4{
    text-align: left;
    color: white;
}
.caja9{
    display: grid;
        grid-template-columns: 3fr 1fr;
        text-align: center;
}
.texto10{
    color: white;
}
.texto11{
color: rgb(0, 0, 0);
transform: scaleX(-1);
}
.visa{
    width: 50px;
}
.texto3{
    transform: translate(0px,5px);
    color: white;
    text-align: center;
}
.texto{
    color: rgb(245, 245, 245);
    text-align: center;
    transform: translate(0px,-15px);
}
.text{
text-overflow: hidden;
    color: rgb(0, 0, 0);
    transform: scaleX(-1);
    display: flex;
flex-direction: row;
transform: translate(0px,-30px);
    font-family: 'Oswald', sans-serif;
        font-family: 'Press Start 2P', cursive;
        font-family: 'Rubik Iso', cursive;
word-spacing: 90px;

}

.texto2{

    width: 400px;
    display: block;
color: white;
display: flex;
text-overflow: hidden;


}
.maryu{
text-align: center;
}
.vis{
    width: 60px;
    margin-right:10px ;
}
.banco2{
    color: aliceblue;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600px;
}
.chip{
    width: 100px;
    margin-left: 90px;
    margin-top: -10px;
}
.numeros{
    color: aliceblue;
    word-spacing: 70px;
    font-family: 'Oswald', sans-serif;
        font-family: 'Press Start 2P', cursive;
        font-family: 'Rubik Iso', cursive;
            margin-left: 90px;
}
.numeros2{
    color: white;
    transform: scaleY(-1);
    margin-left: 90px;
}
.tarjeta_numeros{
    display: flex;
    flex-direction: column;
}
.foto_ban{
display: flex;
flex-direction: row;
justify-content: end;
word-spacing: 2px;
}
.fecha2{

}
.datos{
    display: flex;
    flex-direction: column;
}
.datos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -50px;
}
@media (width < 1000px){
    .caja1 {
            width: 760px;
        }
}